body {
	overflow-x: hidden;
	border: 20px;
	background-color: #666;
	padding: 190px;
}
/*buttons style*/

button {
	background-color: #3d3131;
}	
button:hover {
	background-color: #4c4eaf;
	
}

#bt1 {
	padding: 30px;
	width: 120%;
	font: bold;
	font-size: 12px;
	text-align: center;
	color: white;
 }	
		 
#bt2 {
	padding: 30px;
	width: 120%;
	font-size: 12px;
	text-align: center;
	color: white;
 }
		 
#bt3 {
	padding: 30px;
	width: 120%;
	font-size: 12px;
	text-align: center;
	color: white;
	
 }
		 
#bt4 {
	padding: 30px;
	width: 120%;
	text-align: center;
	font-size: 12px;
	color: white;
}

/*divs style*/
#opt1 {
	position: absolute;
	width: 35%;
	left: 10px;
	bottom: 250px;
}

#opt2 {
	position: absolute;
	width: 35%;
	left: 215px;
	bottom: 250px;
}

#opt3 {
	position: absolute;
	width: 35%;
	left: 10px;
	bottom: 100px;
}

#opt4 {
	position: absolute;
	width: 35%;
	left: 215px;
	bottom: 100px;
}

/*titulo e creditos*/
#titulo {
	position: absolute;
	left: 129px;
	bottom: 350px;
}

#creditos {
	position: absolute;
	left: 5px;
	bottom: 5px; 
}